.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .example-card{
    margin: 0 auto;
    width: 40%;
  }

  .center-box{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center-align{
    justify-content: center;
  }