<mat-card>
    <mat-card-header>
        <mat-card-title>CFS Managemnent</mat-card-title>
        <mat-card-subtitle>Users List</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="users" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="cfsUserRegistrationId">
                <th mat-header-cell *matHeaderCellDef class="table-title"> # </th>
                <td mat-cell class="table-row" *matCellDef="let i=index"> {{i+ 1}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="cfsUserName">
                <th mat-header-cell *matHeaderCellDef class="table-title"> Name </th>
                <td mat-cell *matCellDef="let element" class="table-row"> {{element.cfsUserName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="userTypeId">
                <th mat-header-cell *matHeaderCellDef class="table-title"> User Type </th>
                <td mat-cell *matCellDef="let element" class="table-row"> {{element.userTypeId}} </td>
            </ng-container>



            <ng-container matColumnDef="cfsUserDesignation">
                <th mat-header-cell *matHeaderCellDef class="table-title"> Designation </th>
                <td mat-cell *matCellDef="let element" class="table-row"> {{element.cfsUserDesignation}} </td>
            </ng-container>

            <ng-container matColumnDef="cfsUserDepartment">
                <th mat-header-cell *matHeaderCellDef class="table-title"> Department </th>
                <td mat-cell *matCellDef="let element" class="table-row"> {{element.cfsUserDepartment}} </td>
            </ng-container>

            <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef class="table-title"> Active </th>
                <td mat-cell *matCellDef="let element" class="table-row">
                    <a *ngIf="element.isActive === true"><i class="fa fa-check" aria-hidden="true"></i></a>
                    <a *ngIf="element.isActive !== true"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td>
            </ng-container>

            <ng-container matColumnDef="isVerified">
                <th mat-header-cell *matHeaderCellDef class="table-title"> Verified </th>
                <td mat-cell *matCellDef="let element" class="table-row">
                    <a *ngIf="element.isVerified === true"><i class="fa fa-check" aria-hidden="true"></i></a>
                    <a *ngIf="element.isVerified !== true"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="table-title"> Action </th>
                <td mat-cell *matCellDef="let element" class="table-row">
                    <a><i class="material-icons md-24 p5"
                            [routerLink]="['/default/cfs/user-list-edit',element.cfsUserRegistrationId]">create</i></a>
                    <a><i class="material-icons md-24 p5">delete_sweep</i></a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>