@import './../../../../assets/scss/variable.scss';
table {
    width: 100%;
}

i {
    color: #3F51B5
}

td {
    justify-content: center;
    align-items: center;
}

th {
    justify-content: center;
    align-items: center;
}