<mat-nav-list class="sidebar">
    <div mat-list-item class="menu-item" routerLinkActive="list-item-active" routerLink='/signup/customer'>
        <div class="icon">
            <i class="fas fa-user fa-lg md-24"></i>
        </div>
        <div class="link">
            <p class="menu-text">Customer</p>
        </div>
    </div>
    <div mat-list-item fxLayout="row" class="menu-item" routerLinkActive="list-item-active" routerLink='/signup/transporter'>
        <div class="icon">
            <i class="fas fa fa-truck fa-lg md-24"></i>
        </div>
        <div class="link">
            <p class="menu-text">Transporter</p>
        </div>
    </div>
    <div mat-list-item fxLayout="row" class="menu-item" routerLinkActive="list-item-active" routerLink='/signup/driver'>
        <div class="icon">
            <i class="fas fa-car fa-lg md-24"></i>
        </div>
        <div class="link">
            <p class="menu-text">Driver</p>
        </div>
    </div>
</mat-nav-list>