<h1 mat-dialog-title>Add Credit</h1>
<form fxLayout="column" [formGroup]="creditForm" (ngSubmit)="submitCreditForm($event)">
    <div mat-dialog-content>
        <h4>{{data.currentUser.cfsUserName}}</h4>
        <mat-form-field>
            <mat-label>Amount</mat-label>
            <input matInput type="number" formControlName="creditAmount">
        </mat-form-field>
        <mat-form-field color="accent" class="full-width">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="creditDate" placeholder="datepicker">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button type="submit" *ngIf="creditForm.valid" mat-button [mat-dialog-close]="data" cdkFocusInitial>Add</button>
    </div>
</form>