mat-form-field {
    width: 100%;
}

table {
    width: 100%;
}

.p10 {
    padding: 10px;
}

.add-btn {
    padding: 10px;
}

.greenClass { background-color: rgb(172, 241, 172) }
.redClass { background-color: rgb(241, 133, 105) }

