<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Transporter Management</mat-card-title>
        <mat-card-subtitle>Transporter Registration</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="transporterForm" (ngSubmit)="submitTransporterForm($event)">
            <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout='row' fxLayoutGap="10px">
                    <div fxFlex="100%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Name (Company/Firm)</mat-label>
                            <input matInput type="text" formControlName="name" placeholder="Name (Company/Firm)">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout='row' fxLayoutGap="10px">
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Mobile Number</mat-label>
                            <input matInput formControlName="mobile_number" placeholder="Mobile Number">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" placeholder="Email">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout='row' fxLayoutGap="10px">
                    <div fxFlex="70%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Address (Company/Firm)</mat-label>
                            <input matInput formControlName="address" placeholder="Address (Company/Firm)">
                        </mat-form-field>
                    </div>
                    <div fxFlex="30%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Pincode</mat-label>
                            <input matInput formControlName="pincode" placeholder="Pincode">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout='row' fxLayoutGap="10px">
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>GSTIN (Company/Firm)</mat-label>
                            <input matInput formControlName="gstin" placeholder="GSTIN (Company/Firm)">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>PAN (Company/Firm)</mat-label>
                            <input matInput formControlName="pan_number" placeholder="PAN (Company/Firm)">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout='row' fxLayoutGap="10px">
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Name of Director (Company/Firm)</mat-label>
                            <input matInput formControlName="director_name" placeholder="Name of Director (Company/Firm)">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>PAN of Director (Company/Firm)</mat-label>
                            <input matInput formControlName="pan_of_director" placeholder="PAN of Director (Company/Firm)">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout='row'>
                    <div fxFlex="100%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Address of Director(Company/Firm)</mat-label>
                            <input matInput formControlName="director_address" placeholder="Address of Director(Company/Firm)">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout='row' fxLayoutGap="10px">
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Account No.</mat-label>
                            <input matInput formControlName="account_number" placeholder="Account No.">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Confirm Account No.</mat-label>
                            <input matInput formControlName="confirm_account_number" placeholder="Confirm Account No.">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout='row' fxLayoutGap="10px">
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Account Type</mat-label>
                            <input matInput formControlName="account_type" placeholder="Account Type">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Name of Bank</mat-label>
                            <input matInput formControlName="bank_name" placeholder="Name of Bank">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout='row' fxLayoutGap="10px">
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Branch</mat-label>
                            <input matInput formControlName="branch" placeholder="Branch">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>IFSC Code</mat-label>
                            <input matInput formControlName="ifsc_code" placeholder="IFSC Code">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="20%">
                        <mat-slide-toggle formControlName="is_active">Active</mat-slide-toggle>
                    </div>
                    <div fxFlex="20%">
                        <mat-slide-toggle formControlName="is_verified">Verify</mat-slide-toggle>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <button type="submit" mat-raised-button color="primary">Save</button>
                    <button mat-raised-button color="warn">Cancel</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>