<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Transporter Management</mat-card-title>
        <mat-card-subtitle>Transporter Registration</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="transporterForm" (ngSubmit)="submitTransporterForm($event)">
            <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout='row' fxLayoutGap="10px">
                    <div fxFlex="100%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Name (Company/Firm)</mat-label>
                            <input matInput type="text" formControlName="transporter_name" placeholder="Name (Company/Firm)">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout='row' fxLayoutGap="10px">
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Mobile Number</mat-label>
                            <input matInput formControlName="transporter_mobile_no" placeholder="Mobile Number">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="transporter_email" placeholder="Email">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout='row' fxLayoutGap="10px">
                    <div fxFlex="70%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Address (Company/Firm)</mat-label>
                            <input matInput formControlName="transporter_address" placeholder="Address (Company/Firm)">
                        </mat-form-field>
                    </div>
                    <div fxFlex="30%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Pincode</mat-label>
                            <input matInput formControlName="transporter_pincode" placeholder="Pincode">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout='row' fxLayoutGap="10px">
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>GSTIN (Company/Firm)</mat-label>
                            <input matInput formControlName="transporter_GSTIN" placeholder="GSTIN (Company/Firm)">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>PAN (Company/Firm)</mat-label>
                            <input matInput formControlName="transporter_PAN" placeholder="PAN (Company/Firm)">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout='row' fxLayoutGap="10px">
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Name of Director (Company/Firm)</mat-label>
                            <input matInput formControlName="transporter_partner" placeholder="Name of Director (Company/Firm)">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>PAN of Director (Company/Firm)</mat-label>
                            <input matInput formControlName="transporter_partner_PAN" placeholder="PAN of Director (Company/Firm)">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout='row'>
                    <div fxFlex="100%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Address of Director(Company/Firm)</mat-label>
                            <input matInput formControlName="transporter_partner_address" placeholder="Address of Director(Company/Firm)">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout='row' fxLayoutGap="10px">
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Account No.</mat-label>
                            <input matInput formControlName="transporter_bank_acno" placeholder="Account No.">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Confirm Account No.</mat-label>
                            <input matInput formControlName="confirm_transporter_bank_acno" placeholder="Confirm Account No." [errorStateMatcher]="confirmAccErrormatcher">
                        </mat-form-field>
                        <div *ngIf="transporterForm.errors"><mat-error *ngIf="transporterForm.controls['confirm_transporter_bank_acno'].dirty && transporterForm.errors['notSame']">Account Numbers must match</mat-error></div>
                    </div>
                </div>
                <div fxLayout='row' fxLayoutGap="10px">
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Account Type</mat-label>
                            <mat-select matNativeControl formControlName="transporter_ac_type" [errorStateMatcher]="accTypeErrormatcher">
                                <mat-option *ngFor="let accType of accountTypes" [value]="accType.value">
                                    {{accType.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="transporterForm.controls['transporter_ac_type'].hasError('required')">You must make a
                                selection</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Name of Bank</mat-label>
                            <input matInput formControlName="transporter_bank_name" placeholder="Name of Bank">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout='row' fxLayoutGap="10px">
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Branch</mat-label>
                            <input matInput formControlName="transporter_bank_branch" placeholder="Branch">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>IFSC Code</mat-label>
                            <input matInput formControlName="transporter_bank_ifsc" placeholder="IFSC Code">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%">

                        <button mat-button color="warn" (click)="onfileClick()">
                          <mat-icon>file_upload</mat-icon>
                          Upload
                      </button>
                      <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />

                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="20%">
                        <mat-slide-toggle formControlName="transporter_is_active">Active</mat-slide-toggle>
                    </div>
                    <div fxFlex="20%">
                        <mat-slide-toggle formControlName="transporter_is_verify">Verify</mat-slide-toggle>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <button type="submit" mat-raised-button color="primary">Save</button>
                    <button mat-raised-button color="warn">Cancel</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
