<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>CFS Orders</mat-card-title>
        <mat-card-subtitle>Orders List</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxFlex="20">
                <mat-form-field class="full-width">
                    <mat-label>Select Source & Destination Types*</mat-label>
                    <mat-select [(ngModel)]="orderFilter.orderType" (valueChange)="masterTypeSelected($event)">
                        <mat-option *ngFor="let masterType of masterTypes" [value]="masterType.masterTypeId">
                            {{masterType.sourceType + ' To ' + masterType.destinationType}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="20" *ngIf="orderFilter.orderType">
                <div [ngSwitch]="source">
                    <div *ngSwitchCase="'CFS'">
                        <mat-form-field class="full-width">
                            <mat-label>CFS</mat-label>
                            <mat-select [(ngModel)]="orderFilter.sourceId">
                                <mat-option *ngFor="let cfs of cfsMasters" [value]="cfs.cfsMasterId">
                                    {{cfs.cfsName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'PORT'">
                        <mat-form-field class="full-width">
                            <mat-label>Port</mat-label>
                            <mat-select [(ngModel)]="orderFilter.sourceId">
                                <mat-option *ngFor="let port of portMasters" [value]="port.portMasterId">
                                    {{port.portName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'YARD'">
                        <mat-form-field class="full-width">
                            <mat-label>Yard</mat-label>
                            <mat-select [(ngModel)]="orderFilter.sourceId">
                                <mat-option *ngFor="let yard of yardMasters" [value]="yard.yardMasterId">
                                    {{yard.yardName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxFlex="20" *ngIf="orderFilter.orderType">
                <div [ngSwitch]="destination">
                    <div *ngSwitchCase="'CFS'">
                        <mat-form-field class="full-width">
                            <mat-label>CFS</mat-label>
                            <mat-select [(ngModel)]="orderFilter.destinationId">
                                <mat-option *ngFor="let cfs of cfsMasters" [value]="cfs.cfsMasterId">
                                    {{cfs.cfsName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'PORT'">
                        <mat-form-field class="full-width">
                            <mat-label>Port</mat-label>
                            <mat-select [(ngModel)]="orderFilter.destinationId">
                                <mat-option *ngFor="let port of portMasters" [value]="port.portMasterId">
                                    {{port.portName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'YARD'">
                        <mat-form-field class="full-width">
                            <mat-label>Yard</mat-label>
                            <mat-select [(ngModel)]="orderFilter.destinationId">
                                <mat-option *ngFor="let yard of yardMasters" [value]="yard.yardMasterId">
                                    {{yard.yardName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxFlex="20">
                <mat-form-field color="accent" class="full-width">
                    <mat-label>From Date</mat-label>
                    <input matInput [matDatepicker]="picker1" placeholder="Moment.js datepicker" [(ngModel)]="orderFilter.fromDate ">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxFlex="20">
                <mat-form-field color="accent" class="full-width">
                    <mat-label>To Date</mat-label>
                    <input matInput [matDatepicker]="picker2" placeholder="Moment.js datepicker" [(ngModel)]="orderFilter.toDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>

            <div fxFlex="20" *ngIf="cfsUsers && roleId === 1">
                <mat-form-field class="full-width">
                    <mat-label>User</mat-label>
                    <mat-select [(ngModel)]="orderFilter.custId">
                        <mat-option *ngFor="let cfsUser of cfsUsers" [value]="cfsUser.userId">
                            {{cfsUser.email}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxFlex="20" class="filter-wrapper">
                <button mat-button (click)="applyFilter()"><mat-icon>filter_list</mat-icon></button>
                <button mat-button (click)="resetFilter()"><mat-icon>clear</mat-icon></button>
            </div>

        </div>
        <div>
            Total Orders Found : {{orders?.data?.length}}
        </div>
        <table mat-table [dataSource]="orders" class="mat-elevation-z8" matSort>
            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="orderId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr.No. </th>
                <td mat-cell class="table-row" *matCellDef="let i=index"> {{i+ 1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="sourceType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Source </th>
                <td mat-cell *matCellDef="let element">
                    {{element.sourceType ? element.sourceType : 'NA'}}
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="destinationType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination </th>
                <td mat-cell *matCellDef="let element">
                    {{element.destinationType ? element.destinationType : 'NA'}} </td>
            </ng-container>

            <ng-container matColumnDef="sourceName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Source Name</th>
                <td mat-cell *matCellDef="let element">
                    {{element.sourceName ? element.sourceName : 'NA'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="destinationName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination Name</th>
                <td mat-cell *matCellDef="let element">
                    {{element.destinationName ? element.destinationName : 'NA'}} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="Containers">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Containers </th>
                <td mat-cell *matCellDef="let element"> {{element?.containers?.length}} </td>
            </ng-container> -->

            <ng-container matColumnDef="CustomerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
                <td mat-cell *matCellDef="let element"> {{element.CustomerName ? element.CustomerName : 'NA'}} </td>
            </ng-container>

            <ng-container matColumnDef="OrderDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </th>
                <td mat-cell *matCellDef="let element"> {{element.OrderDate ? element.OrderDate : 'NA'}} </td>
            </ng-container>

            <ng-container matColumnDef="CreatedOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
                <td mat-cell *matCellDef="let element"> {{element.CreatedOn ? element.CreatedOn : 'NA' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="orderStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.orderStatus ? element.orderStatus : 'NA' }} </td>
            </ng-container>

            <ng-container matColumnDef="orderRemarks">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
                <td mat-cell *matCellDef="let element"> {{element.orderRemarks ? element.orderRemarks : 'NA' }} </td>
            </ng-container>
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        <a [routerLink]="['/default/cfs',element.orderId,'order-details']" matTooltip="Details">
                            <i class="fas fa-info-circle fa-lg" aria-hidden="true"></i>
                        </a>
                        <!-- <a [routerLink]="['/default/cfs',element.orderId,'edit']" matTooltip="edit">
                            <i class="fas fa-edit fa-lg" aria-hidden="true"></i>
                        </a> -->
                        <a (click)="openDialog($event,element.orderId)" matTooltip="Delete"><i class="fa fa-ban fa-lg"
                                aria-hidden="true"></i></a>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>
