<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>CFS Managemnent</mat-card-title>
        <mat-card-subtitle>Placed Orders</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="orders" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="Order ID">
                <th mat-header-cell *matHeaderCellDef class="table-title"> Order ID </th>
                <td mat-cell *matCellDef="let element" class="table-row"> {{element.orderId}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Source">
                <th mat-header-cell *matHeaderCellDef class="table-title"> Source </th>
                <td mat-cell *matCellDef="let element" class="table-row"> {{searchStateById(element.source_syscode)}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Destination">
                <th mat-header-cell *matHeaderCellDef class="table-title"> Destination </th>
                <td mat-cell *matCellDef="let element" class="table-row"> {{searchStateById(element.destination_syscode)}} </td>
            </ng-container>

            <ng-container matColumnDef="Containers">
                <th mat-header-cell *matHeaderCellDef class="table-title"> Containers </th>
                <td mat-cell *matCellDef="let element" class="table-row"> {{element?.containers?.length}} </td>
            </ng-container>

            <ng-container matColumnDef="Created By">
                <th mat-header-cell *matHeaderCellDef class="table-title"> Created By </th>
                <td mat-cell *matCellDef="let element" class="table-row"> {{element.created_by}} </td>
            </ng-container>

            <ng-container matColumnDef="Created On">
                <th mat-header-cell *matHeaderCellDef class="table-title"> Created On </th>
                <td mat-cell *matCellDef="let element" class="table-row"> {{element.created_on | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef class="table-title"> Action </th>
                <td mat-cell *matCellDef="let element" class="table-row">
                    <div class="action">
                        <a><i class="fas fa-trash-alt fa-lg" (click)="openDialog($event,element.orderId)"></i></a>
                        <a>
                            <mat-icon fontSet="fa" fontIcon="fa-clipboard-check" class="fa-lg"
                                [routerLink]="['/default/cfs',element.orderId,'order-details']"></mat-icon>
                        </a>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>