<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="66.67" class="matero-col">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Yard Master</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form
          fxLayout="row"
          fxLayoutGap="10px"
          #f="ngForm"
          [formGroup]="yardForm" (ngSubmit)="submitYardForm($event)"
        >
          <div fxLayout="row wrap" fxLayoutGap="8px grid">
            <div fxFlex="50" fxFlex.lt-sm="100">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Yard Name"
                  formControlName="yard_name"
                  name="name"
                  required
                />
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.lt-sm="100">
              <mat-form-field>
                <mat-label>Port</mat-label>
                <mat-select formControlName="port_syscode" [errorStateMatcher]="matcher">
                  <mat-option *ngFor="let port of portMasters" [value]="port.port_syscode">
                    {{ port.port_name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.lt-sm="100">
              <mat-slide-toggle formControlName="is_active">Active</mat-slide-toggle>
            </div>
            <div fxFlex="100" fxFlex.lt-sm="100">
              <button type="submit" mat-raised-button color="primary" class="m-t-8" >Save</button>
            </div>
          </div>
        </form>
      </mat-card-content>

    </mat-card>
  </div>
</div>

