<div fxLayout="row wrap" class="matero-row">
    <div fxFlex="66.67" class="matero-col">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Trip Master</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form fxLayout="column" fxLayoutGap="10px" [formGroup]="tripForm" (ngSubmit)="submittripForm($event)">
                    <div fxLayout="row" fxLayoutGap="20px">
                        <div fxFlex="50%" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <input matInput placeholder="Sub Order ID" formControlName="subOrderId" name="name" required />
                            </mat-form-field>
                        </div>

                    </div>
                    <div fxLayout="row" fxLayoutGap="20px">
                        <div fxFlex="50%" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Source</mat-label>
                                <input matInput type="text" formControlName="sourceName" placeholder="Source" readonly>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50%" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Destination</mat-label>
                                <input matInput type="text" formControlName="destinationName" placeholder="Destination" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px">
                      <div fxFlex="50%" fxFlex.lt-sm="100">
                          <mat-form-field>
                              <mat-label>Container</mat-label>
                              <input matInput type="text" formControlName="OrderContainer" placeholder="Container" readonly>
                          </mat-form-field>
                      </div>
                      <div fxFlex="50%" fxFlex.lt-sm="100">
                          <mat-form-field>
                              <mat-label>Weight</mat-label>
                              <input matInput type="text" formControlName="Orderweight" placeholder="Weight" readonly>
                          </mat-form-field>
                      </div>
                  </div>
                  <div fxLayout="row" fxLayoutGap="20px">
                    <div fxFlex="50%" fxFlex.lt-sm="100">
                        <mat-form-field>
                            <input matInput type="number" placeholder="Other Amount" formControlName="billedAmount" name="billedAmount" />
                        </mat-form-field>
                    </div>

                </div>

                    <div fxLayout="row" fxLayoutGap="20px">
                        <div fxFlex="50%" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Assigned Vehicle</mat-label>
                                <mat-select formControlName="assignedVehicle">
                                    <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.vehicleMasterId">
                                        {{ vehicle.vehicleNumber }} Container : {{vehicle.container}} Weight : {{vehicle.weight}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div>
                              <mat-error>
                              Note: Required Vehicle for this Trip is : {{this.tripData[0].OrderContainer}} &  {{this.tripData[0].Orderweight}} *
                            </mat-error>
                            </div>
                        </div>
                        <div fxFlex="50%" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Assigned Driver</mat-label>
                                <mat-select formControlName="assignedDriver">
                                  <mat-option *ngFor="let driver of drivers" [value]="driver.driverId">
                                    {{ driver.firstname }} {{ driver.lastname }}
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px">
                        <div fxFlex="50%" fxFlex.lt-sm="100">
                            <mat-slide-toggle formControlName="isActive">Active</mat-slide-toggle>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="20px">
                        <div fxFlex="100%" fxFlex.lt-sm="100">
                            <button type="submit" mat-raised-button color="primary" class="m-t-8">Save</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
