<div fxLayout="row wrap" class="matero-row">
    <div fxFlex="66.67" class="matero-col">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Diesel Master</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form
            fxLayout="row"
            fxLayoutGap="10px"
            [formGroup]="dieselForm" (ngSubmit)="submitDieselForm($event)"
          >
            <div fxLayout="row wrap" fxLayoutGap="8px grid">
              <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Diesel Rate"
                    formControlName="diesel_rate"
                    name="name"
                    required
                  />
                </mat-form-field>
              </div>

              <div fxFlex="50" fxFlex.lt-sm="100">
                <!-- <mat-form-field>
                  <input
                    matInput
                    placeholder="Date"
                    formControlName="date"
                    name="name"
                    required
                  />
                </mat-form-field> -->
                <mat-form-field color="accent">
                  <mat-label> Date</mat-label>
                  <input matInput [matDatepicker]="picker1" formControlName="date">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>


              </div>
            
         
              <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-slide-toggle formControlName="is_active">Active</mat-slide-toggle>
              </div>
              <div fxFlex="100" fxFlex.lt-sm="100">
                <button type="submit" mat-raised-button color="primary" class="m-t-8" >Save</button>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  