<div fxLayout="row wrap" class="matero-row">
    <div fxFlex="66.67" class="matero-col">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Port CFS Rate Master </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form fxLayout="row" fxLayoutGap="10px" [formGroup]="portcfsrateForm" (ngSubmit)="submitportcfsrateForm($event)">
                    <div fxLayout="row wrap" fxLayoutGap="8px grid">
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>CFS</mat-label>
                                <mat-select formControlName="cfsMasterId" [errorStateMatcher]="matcher" (valueChange)="cfsSelected($event)">
                                    <mat-option *ngFor="let cfs of cfsMasters" [value]="cfs.cfsMasterId">
                                        {{ cfs.cfsName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Ports</mat-label>
                                <mat-select formControlName="portMasterId" [errorStateMatcher]="matcher">
                                    <mat-option *ngFor="let port of portMasters" [value]="port.portMasterId">
                                        {{ port.portName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Container</mat-label>
                                <mat-select matNativeControl formControlName="containerMasterId" (valueChange)="containerTypeSelected($event)" [errorStateMatcher]="matcher">
                                    <mat-option *ngFor="let container of containerMaster" [value]="container.containerMasterId">
                                        {{ container.containerMasterName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label>Weight</mat-label>
                                <mat-select formControlName="weightMasterId" [errorStateMatcher]="matcher">
                                    <mat-option *ngFor="let weight of weightMasters" [value]="weight.weightMasterId">
                                        {{ weight.weightDesc }}
                                    </mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="cfsrateForm.controls['weightMasterId'].hasError('required')">You must make a selection
                              </mat-error> -->

                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <input matInput type="number" NumbersOnly [allowDecimals]="true" [allowSign]="false" placeholder="Rate" formControlName="rate" name="Rate" required />
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <input matInput type="number" NumbersOnly [allowDecimals]="true" [allowSign]="false" placeholder="Bid Margin Rate" formControlName="bidMarginRate" name="Bid Margin Rate" required />
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <input matInput type="number" NumbersOnly [allowDecimals]="true" [allowSign]="false" placeholder="Order Margin Rate" formControlName="orderMarginRate" name="Order Margin Rate" required />
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.lt-sm="100">
                            <mat-slide-toggle formControlName="isActive">Active</mat-slide-toggle>
                        </div>
                        <div fxFlex="100" fxFlex.lt-sm="100">
                            <button type="submit" mat-raised-button color="primary" class="m-t-8">Save</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>

        </mat-card>
    </div>
</div>