<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 width-100">
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <!-- <ng-container matColumnDef="portMasterId">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell class="table-row" *matCellDef="let i=index"> {{i+ 1}} </td>
        </ng-container> -->

        <!-- Name Column -->
        <ng-container matColumnDef="orderId">
            <th mat-header-cell *matHeaderCellDef>orderId</th>
            <!-- <td mat-cell *matCellDef="let element">
                {{ element.portName }}
            </td> -->
            <td mat-cell *matCellDef="let element">{{element.orderId}}</td>
        </ng-container>
        <ng-container matColumnDef="Source">
            <th mat-header-cell *matHeaderCellDef>Unit Cost</th>
            <td mat-cell *matCellDef="let element">{{element.Source}}</td>
        </ng-container>
        <ng-container matColumnDef="Destination">
            <th mat-header-cell *matHeaderCellDef>Qty</th>
            <td mat-cell *matCellDef="let element">{{element.Destination}}</td>
        </ng-container>
        <ng-container matColumnDef="OrderTotal">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let element">100</td>
        </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div class="total-section">
        <p>SubTotal: <span>1200</span></p>
        <p>Discount: <span>1200</span></p>
        <p>Total: <span>1200</span></p>
    </div>
</div>