.width-100 {
  width:100%;
}
.total-section {
  float: right;
  margin-right: 32px;
}
.clear {
  clear:both
}
.address-left {
  float: left;
}
.main-logo {
  float: right;
}
.logo-img {
  float: right;
  width:60%
}
.signature {
  text-decoration: underline;
}
