<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title>Bid Logic</mat-card-title>
      <mat-card-subtitle>Details</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="orderForm" (ngSubmit)="submitOrderForm($event)">
      <div fxLayout="column" fxLayoutGap="15px">
        <div fxLayout='row' fxLayoutGap="70px">
          <div fxFlex="30%">
            <mat-form-field color="accent">
                <mat-label class="required">Order Date</mat-label>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" placeholder="Moment.js datepicker" formControlName="orderDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="orderForm.controls['orderDate'].hasError('matDatepickerParse')">Date must be in format (DD/MMM/YYYY)
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="20%">
            <mat-form-field color="accent">
                <mat-label class="required">Time Slot</mat-label>
                <mat-select matNativeControl formControlName="timeSlotId" (valueChange)="timeSlotSelected($event)" [errorStateMatcher]="errorStateMatcher">
                    <mat-option *ngFor="let timeSlot of timeSlots" [value]="timeSlot.timeslotMasterId">
                        {{timeSlot.actualValue}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="orderForm.controls['timeSlotId'].hasError('required')">You must make a selection
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="30%">
          <mat-form-field color="accent">
              <mat-label class="required">Created Date</mat-label>
              <input matInput  [matDatepicker]="picker2" placeholder="Moment.js datepicker" formControlName="createdOn">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error *ngIf="orderForm.controls['createdOn'].hasError('matDatepickerParse')">Date must be in format (DD/MMM/YYYY)
              </mat-error>
          </mat-form-field>
      </div>
        </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <!-- <button type="button" mat-raised-button class="saveDraftBtn" (click)="saveOrderAsDraft($event)">Save as Draft</button> -->
        <button type="submit" mat-raised-button color="primary">Check Scheduler</button>
        <div><b>{{message}}</b></div>
    </div>
    </div>
    </form>

</mat-card-content>
</mat-card>
