<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="66.67" class="matero-col">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Mileage Master</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form
          fxLayout="row"
          fxLayoutGap="10px"
          #f="ngForm"
          (ngSubmit)="onSubmit(f)"
        >
          <div fxLayout="row wrap" fxLayoutGap="8px grid">

            <div fxFlex="50" fxFlex.lt-sm="100">
              <mat-form-field>
                <mat-label>Container</mat-label>
                <mat-select>
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.lt-sm="100">
              <mat-form-field>
                <mat-label>Weight</mat-label>
                <mat-select>
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.lt-sm="100">
              <mat-form-field>
                <mat-label>Weight</mat-label>
                <input matInput placeholder="Simple placeholder" ngModel name="mileage"
                 type="number"
                required>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.lt-sm="100">
              <mat-slide-toggle>Active</mat-slide-toggle>
            </div>
            <div fxFlex="100" fxFlex.lt-sm="100">
              <button type="submit" mat-raised-button color="primary" class="m-t-8" >Save</button>
            </div>
          </div>
        </form>
      </mat-card-content>

    </mat-card>
  </div>
</div>

