<div fxLayout="row wrap">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Rate Master</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
            <div fxLayout="row" fxFlex="100">
                <div fxFlex="20" fxFlex.lt-sm="100">
                    <mat-form-field class="demo-full-width">
                        <mat-label class="required">Select Source & Destination Types</mat-label>
                        <mat-select matNativeControl (valueChange)="masterTypeSelected($event)">
                            <mat-option *ngFor="let masterType of masterTypes" [value]="masterType">
                                {{masterType.sourceType + ' To ' + masterType.destinationType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="20" fxFlex.lt-sm="100">

                    <mat-checkbox labelPosition="after" class="example-margin" [value]="IsUpdate" (change)="onCheckboxChange($event)">Is Update</mat-checkbox>

                </div>
                <div>
                    <button mat-raised-button color="primary" class="confirm-btn" (click)="exportAsXLSX()">Export
                        Excel</button>
                </div>
            </div>
            <form fxLayout="column" fxLayoutGap="15px" (ngSubmit)="submitRateForm($event)">
                <table mat-table [dataSource]="rateMasters" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef class="table-title"> # </th>
                        <td mat-cell class="table-row" *matCellDef="let i=index"> {{i+ 1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="yardName">
                        <th mat-header-cell *matHeaderCellDef> Yard </th>
                        <td mat-cell class="table-cell" *matCellDef="let element">
                            {{element.yardName}} </td>
                    </ng-container>



                    <!-- Position Column -->
                    <ng-container matColumnDef="containerMasterName">
                        <th mat-header-cell *matHeaderCellDef> Container </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.containerMasterName}} </td>
                    </ng-container>


                    <!-- Weight Column -->
                    <ng-container matColumnDef="weightDesc">
                        <th mat-header-cell *matHeaderCellDef> Weight </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.weightDesc}}</td>
                    </ng-container>

                    <ng-container matColumnDef="rate">
                        <th mat-header-cell *matHeaderCellDef> Rate </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput type="number" [(ngModel)]="element.rate" [ngModelOptions]="{standalone: true}" placeholder="Rate">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="bidMarginRate">
                        <th mat-header-cell *matHeaderCellDef> Bid Margin %</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput type="number" [(ngModel)]="element.bidMarginRate" [ngModelOptions]="{standalone: true}" placeholder="Bid Margin %">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="orderMarginRate">
                        <th mat-header-cell *matHeaderCellDef> Order Margin % </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput type="number" [(ngModel)]="element.orderMarginRate" [ngModelOptions]="{standalone: true}" placeholder="Order Margin %">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <div fxLayout="row" fxLayoutGap="10px">
                                <button *ngIf="element.rateMasterId !== 0" mat-raised-button color="primary" class="confirm-btn" (click)="openUpdateDialog($event,element)">Update Rate</button>
                                <button *ngIf="element.rateMasterId === 0" mat-raised-button color="primary" class="confirm-btn" (click)="openUpdateDialog($event,element)">Save Rate</button>
                                <!-- <button *ngIf="element.bidValue > 0 && currentUser.typeSyscode === 5" mat-raised-button color="primary" class="confirm-btn">Edit</button> -->
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div fxFlex="100" fxFlex.lt-sm="100">
                    <button mat-raised-button color="primary" class="confirm-btn" (click)="openSubmitDialog($event)">Save</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
