<mat-nav-list *ngIf="currentUser">

    <div class="profile-card">
        <div class="header" *ngIf="currentUser">
            <h1><strong></strong>{{currentUser.name}}</h1>
            <h3>{{currentUser.email}}</h3>
        </div>
    </div>

    <mat-divider></mat-divider>
    <a mat-list-item class="menu-item" routerLinkActive="list-item-active" routerLink='/default'><i
            class="fas dashboard-icon fa-tachometer-alt fa-lg md-24 p5"></i><span class="menu-text">Dashboard</span></a>
    <div *ngIf="currentUser.typeSyscode === 1 || currentUser.typeSyscode === 4 || currentUser.typeSyscode === 0">
        <a mat-list-item routerLinkActive="list-item-active" [matMenuTriggerFor]="menu1"><i
                class="fas fa fa-cubes fa-lg md-24 p5 cfs-icon" aria-hidden="true"></i><span
                class="menu-text">CFS</span></a>
        <mat-menu #menu1="matMenu">
            <button mat-menu-item routerLink='/default/cfs/create-order'>Create Order</button>
            <button mat-menu-item routerLink='/default/cfs/order-list'>List Orders</button>
            <button mat-menu-item routerLink='/default/cfs/saved-orders'>Saved Orders</button>
            <button mat-menu-item routerLink='/default/cfs/placed-bids'>Placed Bids</button>
            <button mat-menu-item routerLink='/default/cfs/register-user'>User Registration</button>
            <button mat-menu-item routerLink='/default/cfs/user-list'>User List</button>
        </mat-menu>
    </div>

    <div *ngIf="currentUser.typeSyscode === 1 || currentUser.typeSyscode === 5 || currentUser.typeSyscode === 0">
        <a mat-list-item routerLinkActive="list-item-active" [matMenuTriggerFor]="menu2"><i
                class="fas transporter-icon fa fa-truck fa-lg md-24 p5" aria-hidden="true"></i><span
                class="menu-text">Transporter</span></a>
        <mat-menu #menu2="matMenu">
            <button mat-menu-item routerLink='/default/transporter/register-vehicle'>Vehicle Registration</button>
            <button mat-menu-item routerLink='/default/transporter/vehicle-list'>Vehicle List</button>
            <button mat-menu-item routerLink='/default/transporter/register-transporter'>Transporter
                Registration</button>
            <button mat-menu-item routerLink='/default/transporter/transporter-list'>Transporter List</button>
            <button mat-menu-item routerLink='/default/transporter/register-driver'>Driver Registration</button>
        </mat-menu>
    </div>
    <div *ngIf="currentUser.typeSyscode === 1 || currentUser.typeSyscode === 0">
        <a mat-list-item routerLinkActive="list-item-active" [matMenuTriggerFor]="menu3"><i
                class="fas fa fa-briefcase fa-lg md-24 p5 masters-icon" aria-hidden="true"></i><span
                class="menu-text">Masters</span></a>
        <mat-menu #menu3="matMenu">
            <button mat-menu-item routerLink='/default/masters/cfs/new'>CFS Master</button>
            <button mat-menu-item routerLink='/default/masters/location/new'>Location Master</button>
            <button mat-menu-item routerLink='/default/masters/port/new'>Port Master</button>
            <button mat-menu-item routerLink='/default/masters/yard/new'>Yard Master</button>
            <button mat-menu-item routerLink='/default/masters/container/new'>Container Master</button>
            <button mat-menu-item routerLink='/default/masters/yard-port-map/new'>Yard Port Mapping</button>
            <button mat-menu-item routerLink='/default/masters/weight/new'>Weight Master</button>

            <button mat-menu-item routerLink='/default/masters/yardcfsrate/new'>Yard CFS Rate Master</button>
            <button mat-menu-item routerLink='/default/masters/cfs-rate/new'>CFS Rate Master</button>

            <button mat-menu-item routerLink='/default/masters/mileage/new'>Mileage Master</button>
            <button mat-menu-item routerLink='/default/masters/diesel/new'>Diesel Rate Master</button>
            <button mat-menu-item routerLink='/default/masters/zone/new'>Zone Master</button>
            <button mat-menu-item routerLink='/default/masters/zone-day/new'>Zone Day Master</button>
            <button mat-menu-item routerLink='/default/masters/state/new'>State Master</button>
        </mat-menu>
        <a mat-list-item routerLinkActive="list-item-active" [matMenuTriggerFor]="menu4">
            <i class="fas fa fa-th-list fa-lg md-24 p5 master-list-icon" aria-hidden="true"></i><span class="menu-text">Masters
                List</span></a>
        <mat-menu #menu4="matMenu">
            <button mat-menu-item routerLink='/default/masters/cfs/list'>CFS Master</button>
            <button mat-menu-item routerLink='/default/masters/location/list'>Location Master</button>
            <button mat-menu-item routerLink='/default/masters/port/list'>Port Master</button>
            <button mat-menu-item routerLink='/default/masters/yard/list'>Yard Master</button>
            <button mat-menu-item routerLink='/default/masters/container/list'>Container Master</button>
            <button mat-menu-item routerLink='/default/masters/yard-port-map/list'>Yard Port Mapping</button>
            <button mat-menu-item routerLink='/default/masters/weight/list'>Weight Master</button>

            <button mat-menu-item routerLink='/default/masters/yardcfsrate-master-list'>Yard CFS Rate Master</button>
            <button mat-menu-item routerLink='/default/masters/cfs-rate/list'>CFS Rate Master</button>
            <button mat-menu-item routerLink='/default/masters/mileage-master-list'>Mileage Master</button>
            <button mat-menu-item routerLink='/default/masters/diesel-master-list'>Diesel Rate Master</button>
            <button mat-menu-item routerLink='/default/masters/zone/list'>Zone Master</button>
            <button mat-menu-item routerLink='/default/masters/zone-day-master-list'>Zone Day Master</button>
            <button mat-menu-item routerLink='/default/masters/state-master-list'>State Master</button>
        </mat-menu>
    </div>
    <mat-divider></mat-divider>
</mat-nav-list>