@import './../../../../assets/scss/variable.scss';
:host {
    .mat-icon {
        vertical-align: middle;
        margin-right: 20px;
    }
    .profile-card {
        text-align: center;
        padding: 0px 20px 20px 20px;
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}

.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.menu-item {
    font-size: 18px;
    transition: 0.3s;
    flex-direction: column !important;
    height: 70px;
    padding: 2px;
    width: 100px;
    margin-top: 20px;
    outline: none;
    .icon {
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 1.4em;
    }
    .link {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

.menu-item:hover {
    letter-spacing: 2px;
}

.menu-text {
    margin: 5px;
    padding-top: 5px;
}