<mat-nav-list>

    <div class="profile-card">
        <div class="header" *ngIf="currentUser">
            <h1><strong></strong>{{currentUser.name}}</h1>
            <h3>{{currentUser.email}}</h3>
        </div>
    </div>

    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/default'><i class="material-icons md-24 p5">dashboard</i>Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" [matMenuTriggerFor]="menu1"><i class="material-icons md-24 p5">games</i>CFS</a>
    <mat-menu #menu1="matMenu">
        <button mat-menu-item routerLink='/default/cfs/create-order'>Create Order</button>
        <button mat-menu-item routerLink='/default/cfs/placed-bids'>Placed Bids</button>
    </mat-menu>
    <a mat-list-item routerLinkActive="list-item-active" [matMenuTriggerFor]="menu2"><i class="material-icons md-24 p5">games</i>Transporter</a>
    <mat-menu #menu2="matMenu">
        <button mat-menu-item routerLink='/default/transporter/register-vehicle'>Vehicle Registration</button>
        <button mat-menu-item routerLink='/default/transporter/vehicle-list'>Vehicle List</button>
    </mat-menu>
    <a mat-list-item routerLinkActive="list-item-active" [matMenuTriggerFor]="menu3"><i class="material-icons md-24 p5">games</i>Masters</a>
    <mat-menu #menu3="matMenu">
        <button mat-menu-item routerLink='/default/masters/port/new'>Port Master</button>
        <button mat-menu-item routerLink='/default/masters/yard/new'>Yard Master</button>
        <button mat-menu-item routerLink='/default/masters/container/new'>Container Master</button>
        <button mat-menu-item routerLink='/default/masters/yard-port-map/new'>Yard Port Mapping</button>
        <button mat-menu-item routerLink='/default/masters/weight/new'>Weight Master</button>
        <button mat-menu-item routerLink='/default/masters/cfs-rate'>CFS Rate Master</button>
        <button mat-menu-item routerLink='/default/masters/yard-cfs-rate'>Yard CFS Rate Master</button>
        <button mat-menu-item routerLink='/default/masters/mileage/new'>Mileage Master</button>
        <button mat-menu-item routerLink='/default/masters/diesel/new'>Diesel Rate Master</button>
        <button mat-menu-item routerLink='/default/masters/zone/new'>Zone Master</button>
        <button mat-menu-item routerLink='/default/masters/zone-day'>Zone Day Master</button>
        <button mat-menu-item routerLink='/default/masters/state/new'>State Master</button>
    </mat-menu>
    <a mat-list-item routerLinkActive="list-item-active" [matMenuTriggerFor]="menu4">
        <i class="material-icons md-24 p5">games</i>Masters List</a>
    <mat-menu #menu4="matMenu">
        <button mat-menu-item routerLink='/default/masters/port/list'>Port Master</button>
        <button mat-menu-item routerLink='/default/masters/yard/list'>Yard Master</button>
        <button mat-menu-item routerLink='/default/masters/container/list'>Container Master</button>
        <button mat-menu-item routerLink='/default/masters/yard-port-map/list'>Yard Port Mapping</button>
        <button mat-menu-item routerLink='/default/masters/weight/list'>Weight Master</button>
        <button mat-menu-item routerLink='/default/masters/cfs-rate-master-list'>CFS Rate Master</button>
        <button mat-menu-item routerLink='/default/masters/yard-cfs-rate-master-list'>Yard CFS Rate Master</button>
        <button mat-menu-item routerLink='/default/masters/mileage-master-list'>Mileage Master</button>
        <button mat-menu-item routerLink='/default/masters/diesel-master-list'>Diesel Rate Master</button>
        <button mat-menu-item routerLink='/default/masters/zone/list'>Zone Master</button>
        <button mat-menu-item routerLink='/default/masters/zone-day-master-list'>Zone Day Master</button>
        <button mat-menu-item routerLink='/default/masters/state-master-list'>State Master</button>
    </mat-menu>
    <mat-divider></mat-divider>

    <!-- <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink='/contacts'>
        <mat-icon>import_contacts</mat-icon>
        Contacts
     </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/contacts'>
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->
</mat-nav-list>
