<mat-card>

    <mat-card-header>
      <mat-card-title>Bid Details</mat-card-title>
      <mat-card-subtitle>Bid Details</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content >
      <table mat-table [dataSource]="bidsdetails" class="mat-elevation-z8">
  
      
        <ng-container matColumnDef="bidName">
          <th mat-header-cell *matHeaderCellDef> bidName </th>
          <td mat-cell *matCellDef="let element"> {{element.bidName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="exhibitionDate">
          <th mat-header-cell *matHeaderCellDef> exhibitionDate </th>
          <td mat-cell *matCellDef="let element"> {{element.exhibitionDate}} </td>
        </ng-container>
  
       
  
        <ng-container matColumnDef="subOrderId">
          <th mat-header-cell *matHeaderCellDef>subOrderId</th>
          <td mat-cell *matCellDef="let element"> {{element.subOrderId}} </td>
        </ng-container>
  
        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef>createdBy</th>
          <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
        </ng-container>

        <ng-container matColumnDef="originalRate">
            <th mat-header-cell *matHeaderCellDef>originalRate</th>
            <td mat-cell *matCellDef="let element"> {{element.originalRate}} </td>
          </ng-container>

          <ng-container matColumnDef="bidValue">
            <th mat-header-cell *matHeaderCellDef>bidValue</th>
            <td mat-cell *matCellDef="let element"> {{element.bidValue}} </td>
          </ng-container>
          <ng-container matColumnDef="bidStatus">
            <th mat-header-cell *matHeaderCellDef>bidStatus</th>
            <td mat-cell *matCellDef="let element"> {{element.bidStatus}} </td>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>firstName</th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>email</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          
<!--     
            </td>
          </ng-container> -->

  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>