<mat-card>
    <mat-card-header>
        <mat-card-title>Transporter Management</mat-card-title>
        <mat-card-subtitle>Confirmed Bids</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="bids" class="mat-elevation-z8" matSort>
            <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
            <!-- Position Column -->
            <ng-container matColumnDef="Bid Mapping ID">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let i=index"> {{i+ 1}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="bidName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Bid Name </th>
                <td mat-cell *matCellDef="let element"> {{element.bidName ? element.bidName : detailsAwaited}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="biduserStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Bid Status</th>
                <td mat-cell *matCellDef="let element"> {{element.biduserStatus ? element.biduserStatus : detailsAwaited}} </td>
            </ng-container>
            <ng-container matColumnDef="sourceName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Source Name</th>
                <td mat-cell *matCellDef="let element"> {{element.sourceName ? element.sourceName : detailsAwaited}} </td>
            </ng-container>
            <ng-container matColumnDef="destinationName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination Name</th>
                <td mat-cell *matCellDef="let element"> {{element.destinationName ? element.destinationName : detailsAwaited}} </td>
            </ng-container>
            <ng-container matColumnDef="containerMasterName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ContainerMasterName</th>
                <td mat-cell *matCellDef="let element"> {{element.containerMasterName ? element.containerMasterName : detailsAwaited}} </td>
            </ng-container>
            <ng-container matColumnDef="weightDesc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>WeightDesc</th>
                <td mat-cell *matCellDef="let element"> {{element.weightDesc ? element.weightDesc : detailsAwaited}} </td>
            </ng-container>
            <ng-container matColumnDef="bidValue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>BidValue</th>
                <td mat-cell *matCellDef="let element"> {{element.bidValue ? element.bidValue : detailsAwaited}} </td>
            </ng-container>
            <ng-container matColumnDef="originalRate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>OriginalRate</th>
                <td mat-cell *matCellDef="let element"> {{element.originalRate ? element.originalRate : detailsAwaited}} </td>
            </ng-container>
            <ng-container matColumnDef="Details">
                <th mat-header-cell *matHeaderCellDef> Details </th>
                <td mat-cell *matCellDef="let element">
                    <div fxLayout="row" fxLayoutGap="10px" *ngIf="currentUser">
                        <a mat-raised-button color="primary" [routerLink]="['/default/transporter/bids',element.bidId]" *ngIf="currentUser.typeSyscode === 1">Details</a>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>