<mat-card>

    <mat-card-header>
      <mat-card-title>Transporter Management</mat-card-title>
      <mat-card-subtitle>Confirmed Bids</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="bids">
      <table mat-table [dataSource]="bids" class="mat-elevation-z8">
  
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
        <!-- Position Column -->
        <ng-container matColumnDef="Bid Mapping ID">
          <th mat-header-cell *matHeaderCellDef> # </th>
          <td mat-cell *matCellDef="let element"> {{element.bidusermappingId}} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="Bid Name">
          <th mat-header-cell *matHeaderCellDef> Bid Name </th>
          <td mat-cell *matCellDef="let element"> {{element.bidName}} </td>
        </ng-container>
  
       
  
        <!-- Symbol Column -->
        <ng-container matColumnDef="Bid Status">
          <th mat-header-cell *matHeaderCellDef> Bid Status</th>
          <td mat-cell *matCellDef="let element"> {{element.bidStatus}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Bid Value">
          <th mat-header-cell *matHeaderCellDef>Bid Value</th>
          <td mat-cell *matCellDef="let element"> {{element.bidValue}} </td>
        </ng-container>

        <ng-container matColumnDef="Confirmed By">
            <th mat-header-cell *matHeaderCellDef>Confirmed By</th>
            <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
          </ng-container>
  
  
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <div fxLayout="row" fxLayoutGap="10px">
              <button mat-raised-button color="primary">Confirm</button>            
            </div>
  
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>