@import './../../../../assets/scss/variable.scss';
.example-card {
    margin: auto;
    font-family: 'Raleway', sans-serif !important;
}

.container {
    padding: 10px;
}

h3 {
    margin-top: 0px;
}

.card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    align-items: center;
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

mat-form-field {
    width: 100%;
    margin-right: 12px;
}

.field-title {
    font-size: $font-size-h5;
}

table {
    width: 100%;
    font-size: 16px;
}

.link {
    padding: 0px;
}

mat-card-header {
    background-color: #3F51B5;
    color: white;
    padding: 10px;
}

mat-card-subtitle {
    color: white;
}

.separator {
    margin-bottom: 0px !important;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 5px -10px #8c8c8c inset;
}