<div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="state cards">
        <mat-card fxFlex="23" *ngIf="tripCount > 0">
            <app-widget-card label="Total Trips" [total]="tripCount" [data]="cards"></app-widget-card>
        </mat-card>

        <mat-card fxFlex="23" *ngIf="bidCount > 0">
            <app-widget-card label="Total Bids" [total]="bidCount" [data]="cards"></app-widget-card>
        </mat-card>

        <mat-card fxFlex="23" *ngIf="orderCount > 0">
            <app-widget-card label="Total Orders" [total]="orderCount" [data]="cards"></app-widget-card>
        </mat-card>

        <mat-card fxFlex="23" *ngIf="suborderCount > 0">
            <app-widget-card label="Total SubOrders" [total]="suborderCount" [data]="cards"></app-widget-card>
        </mat-card>

    </div>
    <!-- Admin View -->
    <div fxLayout="column">
        <!--
          Order List for admin
      -->
        <div fxFlex="100" *ngIf="roleId === 1 || roleId === 4 || roleId === 7 || roleId === 8 || roleId === 9">
            <h3>All Order Summary</h3>
            <mat-form-field>
                <mat-label>Filter Orders</mat-label>
                <input matInput (keyup)="applyAdminOrdersFilter($event)" #orderInput>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="orders">

                    <!-- Position Column -->
                    <ng-container matColumnDef="orderId">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell class="table-row" *matCellDef="let i=index"> {{i+ 1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="sourceType">
                        <th mat-header-cell *matHeaderCellDef> Source </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.sourceType ? element.sourceType : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="destinationType">
                        <th mat-header-cell *matHeaderCellDef> Destination </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.destinationType ? element.destinationType : detailsAwaited}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="sourceName">
                        <th mat-header-cell *matHeaderCellDef> Source </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.sourceName ? element.sourceName : detailsAwaited}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="destinationName">
                        <th mat-header-cell *matHeaderCellDef> Destination </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.destinationName ? element.destinationName : detailsAwaited}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="terminal">
                        <th mat-header-cell *matHeaderCellDef> Terminal </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.terminal ? element.terminal : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="orderRemarks">
                        <th mat-header-cell *matHeaderCellDef> Remarks </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.orderRemarks ? element.orderRemarks : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="totalRate">
                        <th mat-header-cell *matHeaderCellDef> TotalRate </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.totalRate ? element.totalRate : 0}} </td>
                    </ng-container>



                    <ng-container matColumnDef="orderStatus">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.orderStatus ? element.orderStatus : detailsAwaited}} </td>
                    </ng-container>
                    <ng-container matColumnDef="OrderDate">
                        <th mat-header-cell *matHeaderCellDef> Order Date </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.OrderDate ? element.OrderDate : detailsAwaited }} </td>
                    </ng-container>
                    <ng-container matColumnDef="CreatedOn">
                        <th mat-header-cell *matHeaderCellDef> Created On </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.CreatedOn ? element.CreatedOn : detailsAwaited}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsForAdminOrders"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsForAdminOrders;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
        </div>

        <div fxFlex="100" *ngIf="roleId === 1 || roleId === 5">
            <h3>All Sub Order Summary</h3>
            <div class="mat-elevation-z8" *ngIf="suborders.data.length > 0">
                <mat-form-field>
                    <mat-label>Filter Sub Orders</mat-label>
                    <input matInput (keyup)="applyAdminSubOrdersFilter($event)" #subOrderInput>
                </mat-form-field>
                <table mat-table [dataSource]="suborders">

                    <!-- Position Column -->
                    <ng-container matColumnDef="orderId">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell class="table-row" *matCellDef="let i=index"> {{i+ 1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="subOrderId">
                        <th mat-header-cell *matHeaderCellDef> SubOrderID </th>
                        <td mat-cell class="table-row" *matCellDef="let element"> {{element.subOrderId}} </td>
                    </ng-container>


                    <ng-container matColumnDef="subOrderTotalMargin">
                        <th mat-header-cell *matHeaderCellDef> Total </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.subOrderTotalMargin ? element.subOrderTotalMargin : 0}} </td>
                    </ng-container>

                    <ng-container matColumnDef="CutOffTime">
                        <th mat-header-cell *matHeaderCellDef> CutOffTime </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.CutOffTime ? element.CutOffTime : detailsAwaited}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="suborderStatus">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.suborderStatus ? element.suborderStatus : detailsAwaited}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="containerMasterName">
                        <th mat-header-cell *matHeaderCellDef> Cotainer </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.containerMasterName ? element.containerMasterName : detailsAwaited}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="weightDesc">
                        <th mat-header-cell *matHeaderCellDef> Weight </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.weightDesc ? element.weightDesc : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="SubOrderDate">
                        <th mat-header-cell *matHeaderCellDef> Created On </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.SubOrderDate ? element.SubOrderDate : detailsAwaited}} </td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedColumnsForAdminSubOrders"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsForAdminSubOrders;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
            <div *ngIf="suborders.data.length < 1">
                <h4>No Records Found</h4>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
        </div>

        <div fxFlex="100">
            <h3>Trips</h3>
            <mat-form-field>
                <mat-label>Filter Trips</mat-label>
                <input matInput (keyup)="applyAdminTripsFilter($event)" #tripInput>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="trips">

                    <!-- Position Column -->
                    <ng-container matColumnDef="tripId">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell class="table-row" *matCellDef="let i=index"> {{i+ 1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="subOrderId">
                        <th mat-header-cell *matHeaderCellDef> SubOrder ID </th>
                        <td mat-cell class="table-row" *matCellDef="let element"> {{element.subOrderId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="TransporterName">
                        <th mat-header-cell *matHeaderCellDef>Transporter Name</th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.TransporterName ? element.TransporterName : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="AssignedVehicle">
                        <th mat-header-cell *matHeaderCellDef> Assigned Vehicle </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.AssignedVehicle ? element.AssignedVehicle : detailsAwaited}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="AssignedDriver">
                        <th mat-header-cell *matHeaderCellDef>Assigned Driver</th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.AssignedDriver ? element.AssignedDriver : detailsAwaited}} </td>
                    </ng-container>

                    <!-- Weight Column -->

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="TransporterContainer">
                        <th mat-header-cell *matHeaderCellDef>Transporter Container</th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.TransporterContainer ? element.TransporterContainer : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="TransporterWeight">
                        <th mat-header-cell *matHeaderCellDef>Transporter Weight</th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.TransporterWeight ? element.TransporterWeight : detailsAwaited}} </td>
                    </ng-container>
                    <ng-container matColumnDef="OrderContainer">
                        <th mat-header-cell *matHeaderCellDef>Order Container</th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.OrderContainer ? element.OrderContainer : detailsAwaited}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Orderweight">
                        <th mat-header-cell *matHeaderCellDef>Order Weight</th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.Orderweight ? element.Orderweight : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="tripstatus">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.tripstatus ? element.tripstatus : detailsAwaited}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsForTrips"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsForTrips;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
        </div>


        <div fxFlex="100" *ngIf="roleId === 1 || roleId === 5">
            <h3>Bids</h3>
            <mat-form-field>
                <mat-label>Filter Trips</mat-label>
                <input matInput (keyup)="applyAdminBidsFilter($event)" #tripInput>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="bids">

                    <!-- Position Column -->
                    <ng-container matColumnDef="bidId">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell class="table-row" *matCellDef="let i=index"> {{i+ 1}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="bidName">
                        <th mat-header-cell *matHeaderCellDef> Bid </th>
                        <td mat-cell class="table-row" *matCellDef="let element"> {{element.bidName}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="subOrderId">
                        <th mat-header-cell *matHeaderCellDef> SubOrder ID </th>
                        <td mat-cell class="table-row" *matCellDef="let element"> {{element.subOrderId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="bidStatus">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.bidStatus ? element.bidStatus : detailsAwaited}} </td>
                    </ng-container>
                    <ng-container matColumnDef="originalRate">
                        <th mat-header-cell *matHeaderCellDef> Rate </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.originalRate ? element.originalRate : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="bidValue">
                        <th mat-header-cell *matHeaderCellDef> Bid Value </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.bidValue ? element.bidValue : detailsAwaited}} </td>
                    </ng-container>
                    <ng-container matColumnDef="TransporterName">
                        <th mat-header-cell *matHeaderCellDef> Transporter </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.TransporterName ? element.TransporterName : detailsAwaited}} </td>
                    </ng-container>
                    <ng-container matColumnDef="AwardStatus">
                        <th mat-header-cell *matHeaderCellDef> Award Status </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.AwardStatus ? element.AwardStatus : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="sourceType">
                        <th mat-header-cell *matHeaderCellDef> Source Type </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.sourceType ? element.sourceType : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="destinationType">
                        <th mat-header-cell *matHeaderCellDef> Destination Type </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.destinationType ? element.destinationType : detailsAwaited}} </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="containerMasterName">
                        <th mat-header-cell *matHeaderCellDef> Container </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.containerMasterName ? element.containerMasterName : detailsAwaited}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="weightDesc">
                        <th mat-header-cell *matHeaderCellDef> Weight </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.weightDesc ? element.weightDesc : detailsAwaited}}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsForBids"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsForBids;" [ngClass]="{'confirmed-bid': row.AwardStatus === 'BID_USER_CONFIRMED' }">
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>