<div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="state cards">
        <mat-card fxFlex="23" *ngIf="tripCount > 0">
            <app-widget-card label="Total Trips" [total]="tripCount" [data]="cards"></app-widget-card>
        </mat-card>

        <mat-card fxFlex="23" *ngIf="bidCount > 0">
            <app-widget-card label="Total Bids" [total]="bidCount" [data]="cards"></app-widget-card>
        </mat-card>

        <mat-card fxFlex="23" *ngIf="orderCount > 0">
            <app-widget-card label="Total Orders" [total]="orderCount" [data]="cards"></app-widget-card>
        </mat-card>

        <mat-card fxFlex="23" *ngIf="suborderCount > 0">
            <app-widget-card label="Total SubOrders" [total]="suborderCount" [data]="cards"></app-widget-card>
        </mat-card>

    </div>
    <!-- Admin View -->
    <div fxLayout="column">
        <!--
          Order List for admin
      -->
        <div fxFlex="100" [hidden]="roleId === 2 || roleId === 3 || roleId === 5 || roleId === 6">
            <h3>All Order Summary</h3>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="orders" #orderSort="matSort" matSort>

                    <!-- Position Column -->
                    <ng-container matColumnDef="ID">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell class="table-row" *matCellDef="let i=index"> {{i+ 1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="orderId">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Seq </th>
                      <td mat-cell class="table-row" *matCellDef="let element">
                          {{element.orderId}} </td>
                  </ng-container>


                    <ng-container matColumnDef="sourceType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Source </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.sourceType ? element.sourceType : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="destinationType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.destinationType ? element.destinationType : detailsAwaited}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="sourceName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Source </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.sourceName ? element.sourceName : detailsAwaited}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="destinationName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.destinationName ? element.destinationName : detailsAwaited}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="terminal">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Terminal </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.terminal ? element.terminal : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="orderRemarks">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.orderRemarks ? element.orderRemarks : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="totalRate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> TotalRate </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.totalRate ? element.totalRate : 0}} </td>
                    </ng-container>



                    <ng-container matColumnDef="orderStatus">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.orderStatus ? element.orderStatus : detailsAwaited}} </td>
                    </ng-container>
                    <ng-container matColumnDef="OrderDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.OrderDate ? element.OrderDate : detailsAwaited }} </td>
                    </ng-container>
                    <ng-container matColumnDef="CreatedOn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.CreatedOn ? element.CreatedOn : detailsAwaited}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsForAdminOrders"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsForAdminOrders;"></tr>
                </table>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
        </div>

        <div fxFlex="100" [hidden]="roleId === 2 || roleId === 3 || roleId === 4 || roleId === 6 || roleId === 7 || roleId === 8 || roleId === 9">
            <h3>All Sub Order Summary</h3>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="suborders" #subOrderSort="matSort" matSort>
                    <!-- Position Column -->
                    <ng-container matColumnDef="orderId">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell class="table-row" *matCellDef="let i=index"> {{i+ 1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="subOrderId">
                        <th mat-header-cell *matHeaderCellDef [hidden]="roleId === 5" mat-sort-header> SubOrderID </th>
                        <td mat-cell class="table-row" *matCellDef="let element"> {{element.subOrderId}} </td>
                    </ng-container>
                    <ng-container matColumnDef="subOrderSeq">
                      <th mat-header-cell *matHeaderCellDef [hidden]="roleId === 5" mat-sort-header> SubOrder Seq </th>
                      <td mat-cell class="table-row" *matCellDef="let element"> {{element.subOrderSeq}} </td>
                  </ng-container>
                    <ng-container matColumnDef="subOrderTotalMargin">
                        <th mat-header-cell *matHeaderCellDef [hidden]="roleId === 5" mat-sort-header> Total </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.subOrderTotalMargin ? element.subOrderTotalMargin : 0}} </td>
                    </ng-container>
                    <ng-container matColumnDef="CutOffTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> CutOffTime </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.CutOffTime ? element.CutOffTime : detailsAwaited}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="suborderStatus">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.suborderStatus ? element.suborderStatus : detailsAwaited}} </td>
                    </ng-container>
                    <!-- Weight Column -->
                    <ng-container matColumnDef="containerMasterName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cotainer </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.containerMasterName ? element.containerMasterName : detailsAwaited}} </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="weightDesc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.weightDesc ? element.weightDesc : detailsAwaited}} </td>
                    </ng-container>
                    <ng-container matColumnDef="SubOrderDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.SubOrderDate ? element.SubOrderDate : detailsAwaited}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsForAdminSubOrders"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsForAdminSubOrders;"></tr>
                </table>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
        </div>

        <div fxFlex="100">
            <h3>Trips</h3>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="trips" #tripSort="matSort" matSort>

                    <!-- Position Column -->
                    <ng-container matColumnDef="tripId">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell class="table-row" *matCellDef="let i=index"> {{i+ 1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="subOrderId">
                        <th mat-header-cell *matHeaderCellDef [hidden]="roleId === 5" mat-sort-header> SubOrder ID </th>
                        <td mat-cell class="table-row" *matCellDef="let element"> {{element.subOrderId}} </td>
                    </ng-container>



                    <ng-container matColumnDef="TransporterName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Transporter Name</th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.TransporterName ? element.TransporterName : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="AssignedVehicle">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Assigned Vehicle </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.AssignedVehicle ? element.AssignedVehicle : detailsAwaited}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="AssignedDriver">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned Driver</th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.AssignedDriver ? element.AssignedDriver : detailsAwaited}} </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="TransporterContainer">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Transporter Container</th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.TransporterContainer ? element.TransporterContainer : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="TransporterWeight">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Transporter Weight</th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.TransporterWeight ? element.TransporterWeight : detailsAwaited}} </td>
                    </ng-container>
                    <ng-container matColumnDef="OrderContainer">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Container</th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.OrderContainer ? element.OrderContainer : detailsAwaited}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Orderweight">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Weight</th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.Orderweight ? element.Orderweight : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="tripstatus">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.tripstatus ? element.tripstatus : detailsAwaited}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsForTrips"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsForTrips;"></tr>
                </table>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
        </div>


        <div fxFlex="100" [hidden]="roleId === 2 || roleId === 3 || roleId === 4 || roleId === 6 || roleId === 7 || roleId === 8 || roleId === 9">
            <h3>Bids</h3>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="bids" #bidSort="matSort" matSort>

                    <!-- Position Column -->
                    <ng-container matColumnDef="bidId">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell class="table-row" *matCellDef="let i=index"> {{i+ 1}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="bidSeq">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bid Seq</th>
                        <td mat-cell class="table-row" *matCellDef="let element"> {{element.bidSeq}} </td>
                    </ng-container>
                    <ng-container matColumnDef="TransporterName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transporter </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.TransporterName ? element.TransporterName : detailsAwaited}} </td>
                    </ng-container>
                    <!-- Weight Column -->
                    <ng-container matColumnDef="SorurceName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Source Name </th>
                        <td mat-cell class="table-row" *matCellDef="let element"> {{element.SorurceName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="destinationName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination Name </th>
                        <td mat-cell class="table-row" *matCellDef="let element"> {{element.destinationName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="containerMasterName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Container </th>
                        <td mat-cell class="table-row" *matCellDef="let element"> {{element.containerMasterName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="weightDesc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
                        <td mat-cell class="table-row" *matCellDef="let element"> {{element.weightDesc}} </td>
                    </ng-container>
                    <ng-container matColumnDef="originalRate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.originalRate ? element.originalRate : detailsAwaited}} </td>
                    </ng-container>
                    <ng-container matColumnDef="bidValue">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bid Value </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.bidValue ? element.bidValue : detailsAwaited}} </td>
                    </ng-container>

                    <ng-container matColumnDef="biduserStatus">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell class="table-row" *matCellDef="let element">
                            {{element.biduserStatus ? element.biduserStatus : detailsAwaited}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsForBids"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsForBids;" [ngClass]="{'confirmed-bid': row.AwardStatus === 'BID_USER_CONFIRMED' }">
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
