@import './../../../../assets/scss/variable.scss';

table {
    width: 100%;
}


.table-title{
    font-size: $table-title-font-size;
    text-align: center;
    font-weight: 600;
}

.table-row{
    font-size: $table-row-font-size;
    text-align: center;
}