<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Transporter Management</mat-card-title>
        <mat-card-subtitle>Transporters List</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="transporters" class="mat-elevation-z8">
            <ng-container matColumnDef="serialnumber">
                <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                <td mat-cell class="table-cell" *matCellDef="let i=index"> {{i+ 1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell class="table-cell" *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell class="table-cell" *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <ng-container matColumnDef="mobileNumber">
                <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
                <td mat-cell class="table-cell" *matCellDef="let element"> {{element.mobileNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell class="table-cell" *matCellDef="let element">
                    <a class="icon" #tooltip="matTooltip" matTooltip="Edit" [matTooltipPosition]="'below'"><i class="material-icons md-24 p5">create</i></a>
                    <a class="icon" #tooltip2="matTooltip" matTooltip="Delete" [matTooltipPosition]="'below'">
                        <i class="material-icons md-24 p5">delete_sweep</i>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>