@import './../../../../assets/scss/variable.scss';
table {
    width: 100%;
}

i {
    color: #3F51B5
}

.create-btn-wrapper {
    padding-bottom: 10px;
}

.filter {
    padding: 10px;
}

.full-width {
    width: 100%;
}