<div fxLayout="row wrap" class="matero-row">
    <div fxFlex="66.67" class="matero-col">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Port Master</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form fxLayout="row" fxLayoutGap="10px" [formGroup]="portForm" (ngSubmit)="submitPortForm($event)">
                    <div fxLayout="row wrap" fxLayoutGap="8px grid">
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <input matInput placeholder="Port Name" formControlName="portName" name="name" required />
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <input matInput placeholder="Address1" formControlName="address1" name="address1" required />
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <input matInput placeholder="Address2" formControlName="address2" name="address2" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <input matInput placeholder="LandMark" formControlName="landmark" name="landmak" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label class="required">State</mat-label>
                                <mat-select formControlName="stateMasterId" [errorStateMatcher]="matcher" (valueChange)="stateSelected($event)">
                                    <mat-option *ngFor="let state of stateMasters" [value]="state.stateMasterId">
                                        {{ state.stateName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <mat-label class="required">Location</mat-label>
                                <mat-select formControlName="locationMasterId">
                                    <mat-option *ngFor="let locationMaster of locationMasters" [value]="locationMaster.locationMasterId">
                                        {{ locationMaster.locationName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <input matInput placeholder="PinCode" formControlName="pincode" name="pincode" required />
                                <mat-error *ngIf="portForm.get('pincode').errors !== null &&  portForm.get('pincode').errors.pattern">Please Enter valid Pin Code</mat-error>
                                <mat-error *ngIf="portForm.get('pincode').errors !== null &&  portForm.get('pincode').errors.required">Please Enter Pin Coder</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <input matInput placeholder="Latitude" formControlName="latitude" name="latitude" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <input matInput placeholder="Longitude" formControlName="longitude" name="longitude" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <input matInput placeholder="Primary Contact Person" formControlName="primarycontactperson" name="primarycontactperson" required />
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-form-field>
                                <input matInput placeholder="Primary Contact Number" formControlName="primarycontactnumber" name="primarycontactnumber" required />
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.lt-sm="100">
                            <mat-slide-toggle formControlName="isActive">Active</mat-slide-toggle>
                        </div>
                        <div fxFlex="100" fxFlex.lt-sm="100">
                            <button type="submit" mat-raised-button color="primary" class="m-t-8">
                Save
              </button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
