<mat-card-content>
    <table mat-table [dataSource]="vehicleMasters" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="vehicle_syscode">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicle_syscode}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="vehicle_no">
        <th mat-header-cell *matHeaderCellDef> Vehicle No. </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicle_no}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="vehicle_type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicle_type}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="vehicle_capacity">
        <th mat-header-cell *matHeaderCellDef> Vehicle Capacity </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicle_capacity}} </td>
      </ng-container>
  
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <ng-container matColumnDef="manufacture_year">
        <th mat-header-cell *matHeaderCellDef> Manufacture Year </th>
        <td mat-cell *matCellDef="let element"> {{element.manufacture_year}} </td>
      </ng-container>
  
      <ng-container matColumnDef="state_syscode">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let element"> {{element.state_syscode}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>