@import '~material-design-icons/iconfont/material-icons.css';
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "./assets/scss/variable.scss";
@import '~ngx-toastr/toastr';

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif !important;
    padding: 10px;
}

.table-header {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
}

.table-cell {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
}

.p5 {
    padding: 5px;
}

$gutter: 16px !default;
// TODO: Grid row
.matero-row {
    margin-right: -$gutter/2;
    margin-left: -$gutter/2;
}

// TODO: Grid col
.matero-col {
    padding-right: $gutter/2;
    padding-left: $gutter/2;
}

a {
    cursor: pointer;
    padding: 5px;
}

.ng-select {
    margin-top: -12px;
}

.mat-select-disabled .mat-select-value {
    color: #11222b !important;
}

.action-wrapper {
    justify-content: space-between;
}

@media(max-width: 768px) {
    body {
        padding: 0px;
    }
    .target-to-drawer {
        display: none;
    }
}