@import '~material-design-icons/iconfont/material-icons.css';
@import "./assets/scss/variable.scss";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Raleway', sans-serif !important;
    padding: 10px;
}

.p5{
    padding: 5px;
}

$gutter: 16px !default;
// TODO: Grid row
.matero-row {
  margin-right: -$gutter/2;
  margin-left: -$gutter/2;
}

// TODO: Grid col
.matero-col {
  padding-right: $gutter/2;
  padding-left: $gutter/2;
}
a{
  cursor: pointer;
}




