<mat-card-content>
  <table mat-table [dataSource]="cfsMasters" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="cfsMasterId">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element"> {{element.cfsMasterId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cfs_name">
      <th mat-header-cell *matHeaderCellDef> Cfs Name </th>
      <td mat-cell *matCellDef="let element"><a
          [routerLink]="['/default/masters/cfs/details/',element.cfsMasterId]">{{element.cfs_name}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="contact_no">
      <th mat-header-cell *matHeaderCellDef> Contact No</th>
      <td mat-cell *matCellDef="let element">{{element.contact_no}} </td>
    </ng-container>

    <ng-container matColumnDef="email_id">
      <th mat-header-cell *matHeaderCellDef> EmailID </th>
      <td mat-cell *matCellDef="let element">{{element.email_id}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element">{{element.address}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="pincode">
      <th mat-header-cell *matHeaderCellDef> Pin Code </th>
      <td mat-cell *matCellDef="let element">{{element.pincode}} </td>
    </ng-container>

    <ng-container matColumnDef="cfs_code_no">
      <th mat-header-cell *matHeaderCellDef> Cfs Code </th>
      <td mat-cell *matCellDef="let element">{{element.cfs_code_no}} </td>
    </ng-container>

    <ng-container matColumnDef="gstn">
      <th mat-header-cell *matHeaderCellDef> GSTIN </th>
      <td mat-cell *matCellDef="let element">{{element.gstn}} </td>
    </ng-container>

    <ng-container matColumnDef="pan">
      <th mat-header-cell *matHeaderCellDef> PAN </th>
      <td mat-cell *matCellDef="let element">{{element.pan}} </td>
    </ng-container>

    <ng-container matColumnDef="tan">
      <th mat-header-cell *matHeaderCellDef> TAN </th>
      <td mat-cell *matCellDef="let element">{{element.tan}} </td>
    </ng-container>

    <ng-container matColumnDef="primary_contact_name">
      <th mat-header-cell *matHeaderCellDef> Primary Contact Name </th>
      <td mat-cell *matCellDef="let element">{{element.primary_contact_name}} </td>
    </ng-container>

    <ng-container matColumnDef="primary_mobile_no">
      <th mat-header-cell *matHeaderCellDef> Primary Mobile </th>
      <td mat-cell *matCellDef="let element">{{element.primary_mobile_no}} </td>
    </ng-container>

    <ng-container matColumnDef="additional_contact_name">
      <th mat-header-cell *matHeaderCellDef> Additional Contact Name </th>
      <td mat-cell *matCellDef="let element">{{element.additional_contact_name}} </td>
    </ng-container>

    <ng-container matColumnDef="additional_mobile_no">
      <th mat-header-cell *matHeaderCellDef> Additional Mobile </th>
      <td mat-cell *matCellDef="let element">{{element.additional_mobile_no}} </td>
    </ng-container>

    <ng-container matColumnDef="port_syscode">
      <th mat-header-cell *matHeaderCellDef> Port Code </th>
      <td mat-cell *matCellDef="let element"> {{element.port_syscode}} </td>
    </ng-container> -->

    <!-- Weight Column -->
    <ng-container matColumnDef="is_active">
      <th mat-header-cell *matHeaderCellDef> Active </th>
      <td mat-cell *matCellDef="let element"> {{element.is_active}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <a><i class="material-icons md-24 p5"
            [routerLink]="['/default/masters/cfs/edit/',element.cfsMasterId]">create</i></a>
        <a><i class="material-icons md-24 p5" (click)="openDialog($event,element.cfsMasterId)">delete_sweep</i></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card-content>
