<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="66.67" class="matero-col">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>State Master</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form
          fxLayout="row"
          fxLayoutGap="10px"
          #f="ngForm"
          (ngSubmit)="onSubmit(f)"
        >
          <div fxLayout="row wrap" fxLayoutGap="8px grid">
            <div fxFlex="50" fxFlex.lt-sm="100">
              <mat-form-field>
                <input
                  matInput
                  placeholder="State Name"
                  ngModel
                  name="name"
                  container
                  required
                />
              </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.lt-sm="100">
              <mat-checkbox>Is Active</mat-checkbox>
            </div>
            <div fxFlex="100" fxFlex.lt-sm="100">
              <button type="submit" mat-raised-button color="primary" class="m-t-8" >Save</button>
            </div>
          </div>
        </form>
      </mat-card-content>

    </mat-card>
  </div>
</div>
