<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>CFS Management</mat-card-title>
        <mat-card-subtitle>Create Order</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="orderForm" (ngSubmit)="submitOrderForm($event)">
            <div fxLayout="column" fxLayoutGap="15px">
                <div fxLayout='row'>
                    <div fxFlex="50%">
                        <mat-form-field class="demo-full-width">
                            <mat-label>Select Source & Destination Types</mat-label>
                            <mat-select matNativeControl formControlName="masterType" (valueChange)="masterTypeSelected($event)" [errorStateMatcher]="errorStateMatcher">
                                <mat-option *ngFor="let masterType of masterTypes" [value]="masterType.masterTypeId">
                                    {{masterType.masterType}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="orderForm.controls['masterType'].hasError('required')">You must make a selection
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50%" fxFlexOffset="10px">
                        <mat-form-field color="accent">
                            <mat-label>Date</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="date">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout='row' fxFlex="100%">
                    <div [ngSwitch]="source" fxFlex="50%">
                        <div *ngSwitchCase="'CFS'" fxFlex="100%">
                            <div fxFlex="6%">
                                <i class="material-icons md-24 p5">location_on</i>
                            </div>
                            <div fxFlex="94%">
                                <mat-form-field class="demo-full-width">
                                    <mat-label>CFS</mat-label>
                                    <mat-select matNativeControl formControlName="source" [errorStateMatcher]="errorStateMatcher">
                                        <mat-option *ngFor="let cfs of cfsMasters" [value]="cfs.cfsMasterId">
                                            {{cfs.cfsName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="orderForm.controls['source'].hasError('required')">You must make a selection
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div *ngSwitchCase="'PORT'" fxFlex="100%">
                            <div fxFlex="6%">
                                <i class="material-icons md-24 p5">location_on</i>
                            </div>
                            <div fxFlex="94%">
                                <mat-form-field class="demo-full-width">
                                    <mat-label>Port</mat-label>
                                    <mat-select matNativeControl formControlName="source" [errorStateMatcher]="errorStateMatcher">
                                        <mat-option *ngFor="let port of portMasters" [value]="port.portMasterId">
                                            {{port.portName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="orderForm.controls['source'].hasError('required')">You must make a selection
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div *ngSwitchCase="'YARD'" fxFlex="100%">
                            <div fxFlex="6%">
                                <i class="material-icons md-24 p5">location_on</i>
                            </div>
                            <div fxFlex="94%">
                                <mat-form-field class="demo-full-width">
                                    <mat-label>Yard</mat-label>
                                    <mat-select matNativeControl formControlName="source" [errorStateMatcher]="errorStateMatcher">
                                        <mat-option *ngFor="let yard of yardMasters" [value]="yard.yardMasterId">
                                            {{yard.yardName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="orderForm.controls['source'].hasError('required')">You must make a selection
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div [ngSwitch]="destination" fxFlex="50%">
                        <div *ngSwitchCase="'CFS'" fxFlex="100%">
                            <div fxFlex="6%">
                                <i class="material-icons md-24 p5">location_on</i>
                            </div>
                            <div fxFlex="94%">
                                <mat-form-field class="demo-full-width">
                                    <mat-label>CFS</mat-label>
                                    <mat-select matNativeControl formControlName="destination" [errorStateMatcher]="errorStateMatcher">
                                        <mat-option *ngFor="let cfs of cfsLocation" [value]="cfs.cfsMasterId">
                                            {{cfs.cfsName + cfs.location}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="orderForm.controls['source'].hasError('required')">You must make a selection
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div *ngSwitchCase="'PORT'" fxFlex="100%">
                            <div fxFlex="6%">
                                <i class="material-icons md-24 p5">location_on</i>
                            </div>
                            <div fxFlex="94%">
                                <mat-form-field class="demo-full-width">
                                    <mat-label>Port</mat-label>
                                    <mat-select matNativeControl formControlName="destination" [errorStateMatcher]="errorStateMatcher">
                                        <mat-option *ngFor="let port of portMasters" [value]="port.portMasterId">
                                            {{port.portName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="orderForm.controls['source'].hasError('required')">You must make a selection
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div *ngSwitchCase="'YARD'" fxFlex="100%">
                            <div fxFlex="6%">
                                <i class="material-icons md-24 p5">location_on</i>
                            </div>
                            <div fxFlex="94%">
                                <mat-form-field class="demo-full-width">
                                    <mat-label>Yard</mat-label>
                                    <mat-select matNativeControl formControlName="destination" [errorStateMatcher]="errorStateMatcher">
                                        <mat-option *ngFor="let yard of yardMasters" [value]="yard.yardMasterId">
                                            {{yard.yardName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="orderForm.controls['source'].hasError('required')">You must make a selection
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Container Details</h3>
                <div formArrayName="containers">
                    <div fxLayout="column" fxLayoutGap="15px">
                        <div *ngFor="let containerRow of this.orderForm.controls.containers['controls'];let i=index">
                            <div [formGroup]="containerRow" fxLayout="row" fxLayoutGap="15px">
                                <div fxFlex="25%">
                                    <mat-form-field>
                                        <mat-label>Type</mat-label>
                                        <mat-select matNativeControl formControlName="containerMasterId" [errorStateMatcher]="errorStateMatcher">
                                            <mat-option *ngFor="let type of containerTypes" [value]="type.containerMasterId">
                                                {{type.containerMasterName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="25%">
                                    <mat-form-field>
                                        <mat-label>Weight</mat-label>
                                        <mat-select matNativeControl formControlName="weightType" [errorStateMatcher]="errorStateMatcher">
                                            <mat-option *ngFor="let weight of weights" [value]="weight.weightMasterId">
                                                {{weight.weightDesc}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="20%">
                                    <mat-form-field>
                                        <mat-label>No. of Trucks</mat-label>
                                        <input matInput type="text" formControlName="numberOfTrucks" placeholder="No. of Trucks">
                                    </mat-form-field>
                                </div>
                                <div fxFlex="20%">
                                    <ng-select [items]="containerNumbers" bindLabel="text" bindValue="id" [addTag]="true" (change)="changeContainerNumbers($event, i)" [multiple]="true" placeholder="add container number & press enter">
                                    </ng-select>
                                </div>
                                <div fxFlex="10%">
                                    <button><i class="material-icons md-24 p5"
                                            (click)="removeFormControl(i)">delete_sweep</i></button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" mat-raised-button color="primary" (click)="addFormControl()">Add
                                Containers</button>
                        </div>
                    </div>
                </div>
                <div fxLayout="row">
                    <mat-form-field class="example-full-width">
                        <mat-label>Remarks</mat-label>
                        <input matInput formControlName="remarks" placeholder="Remarks">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <button type="button" mat-raised-button color="accent" (click)="saveOrderAsDraft($event)">Save</button>
                    <button type="submit" mat-raised-button color="primary">Submit</button>
                    <button type="button" mat-raised-button color="warn" (click)="resetOrderForm()">Cancel</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>